<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jetbrains.kotlin.wizards"
            name="Kotlin">
      </category>
      <wizard
            category="org.jetbrains.kotlin.wizards"
            class="org.jetbrains.kotlin.wizards.NewProjectWizard"
            finalPerspective="org.jetbrains.kotlin.perspective"
            icon="icons/newprj_kotlin_wiz.gif"
            id="org.jetbrains.kotlin.projectWizard"
            name="Kotlin Project"
            preferredPerspectives="org.jetbrains.kotlin.perspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
         <description>
            Create a new Kotlin project
         </description>
      </wizard>
      <wizard
            category="org.jetbrains.kotlin.wizards"
            class="org.jetbrains.kotlin.wizards.NewUnitWizard"
            finalPerspective="org.jetbrains.kotlin.perspective"
            hasPages="true"
            icon="icons/newfile_wiz.gif"
            id="org.jetbrains.kotlin.wizard"
            name="Kotlin File"
            preferredPerspectives="org.jetbrains.kotlin.perspective"
            project="false">
           <description>
              Create a new Kotlin file
           </description>
      </wizard>
      <wizard
            category="org.jetbrains.kotlin.wizards"
            class="org.jetbrains.kotlin.wizards.NewClassWizard"
            finalPerspective="org.jetbrains.kotlin.perspective"
            hasPages="true"
            icon="icons/newclass_wiz.gif"
            id="org.jetbrains.kotlin.classWizard"
            name="Kotlin Class"
            preferredPerspectives="org.jetbrains.kotlin.perspective"
            project="false">
         <description>
            Create a new Kotlin class
         </description>
      </wizard>
      <wizard
            category="org.jetbrains.kotlin.wizards"
            class="org.jetbrains.kotlin.wizards.NewTraitWizard"
            finalPerspective="org.jetbrains.kotlin.perspective"
            hasPages="true"
            icon="icons/newint_wiz.gif"
            id="org.jetbrains.kotlin.traitWizard"
            name="Kotlin Trait"
            preferredPerspectives="org.jetbrains.kotlin.perspective"
            project="false">
         <description>
            Create a new Kotlin trait
         </description>
      </wizard>
      <wizard
            category="org.jetbrains.kotlin.wizards"
            class="org.jetbrains.kotlin.wizards.NewObjectWizard"
            finalPerspective="org.jetbrains.kotlin.perspective"
            hasPages="true"
            icon="icons/newobj_wiz.gif"
            id="org.jetbrains.kotlin.objectWizard"
            name="Kotlin Object"
            preferredPerspectives="org.jetbrains.kotlin.perspective"
            project="false">
         <description>
            Create a new Kotlin object
         </description>
      </wizard>
      <wizard
            category="org.jetbrains.kotlin.wizards"
            class="org.jetbrains.kotlin.wizards.NewEnumWizard"
            finalPerspective="org.jetbrains.kotlin.perspective"
            hasPages="true"
            icon="icons/newenum_wiz.gif"
            id="org.jetbrains.kotlin.enumWizard"
            name="Kotlin Enum"
            preferredPerspectives="org.jetbrains.kotlin.perspective"
            project="false">
         <description>
            Create a new Kotlin enum
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.jetbrains.kotlin.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.jetbrains.kotlin.perspective">
         <view
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <newWizardShortcut
               id="org.jetbrains.kotlin.wizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jetbrains.kotlin.classWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jetbrains.kotlin.traitWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jetbrains.kotlin.objectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jetbrains.kotlin.enumWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.jetbrains.kotlin.projectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jetbrains.kotlin.preferences.KotlinPreferencePage"
            id="kotlin-eclipse-ui.preferences"
            name="Kotlin">
      </page>
      <page
            category="kotlin-eclipse-ui.preferences"
            class="org.jetbrains.kotlin.preferences.EditorPreferencePage"
            id="kotlin-eclipse-ui.preferences.editor"
            name="Editor">
      </page>
      <page
            category="kotlin-eclipse-ui.preferences"
            class="org.jetbrains.kotlin.preferences.CompilerPreferencePage"
            id="kotlin-eclipse-ui.preferences.compiler"
            name="Compiler">
      </page>
      <page
            category="kotlin-eclipse-ui.preferences"
            class="org.jetbrains.kotlin.preferences.KotlinTemplatePreferencePage"
            id="org.jetbrains.kotlin.ui.preferences.templates"
            name="Template">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jetbrains.kotlin.ui.editors.KotlinEditor"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            extensions="kt"
            icon="icons/kotlin-file.gif"
            id="org.jetbrains.kotlin.ui.editors.KotlinEditor"
            name="Kotlin Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jetbrains.kotlin.psi.visualization.PsiVisualization"
            id="org.jetbrains.kotlin.psi.visualization"
            name="Psi Visualization">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.jetbrains.kotlin.ui.editors.KotlinEditor.EditorContext">
         <command
               commandId="org.jetbrains.kotlin.psi.visualization"
               label="View Psi Structure of current file"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.jetbrains.kotlin.ui.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.jetbrains.kotlin.ui.editors.KotlinAnnotationImageProvider"
            annotationType="org.jetbrains.kotlin.ui.annotation.error"
            colorPreferenceKey="org.jetbrains.kotlin.ui.annotation.error.color"
            colorPreferenceValue="255,0,128"
            highlightPreferenceKey="org.jetbrains.kotlin.ui.annotation.error.highlight"
            label="Kotlin Compilation Error"
            overviewRulerPreferenceKey="org.jetbrains.kotlin.ui.annotation.error.overview"
            overviewRulerPreferenceValue="true"
            symbolicIcon="error"
            textPreferenceKey="org.jetbrains.kotlin.ui.annotation.error.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.jetbrains.kotlin.ui.annotation.error.textstyle"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="org.jetbrains.kotlin.ui.annotation.error.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="org.jetbrains.kotlin.ui.editors.KotlinAnnotationImageProvider"
            annotationType="org.jetbrains.kotlin.ui.annotation.warning"
            colorPreferenceKey="org.jetbrains.kotlin.ui.annotation.warning.color"
            colorPreferenceValue="244,200,45"
            highlightPreferenceKey="org.jetbrains.kotlin.ui.annotation.warning.highlight"
            label="Kotlin Compilation Warning"
            overviewRulerPreferenceKey="org.jetbrains.kotlin.ui.annotation.warning.overview"
            overviewRulerPreferenceValue="true"
            symbolicIcon="warning"
            textPreferenceKey="org.jetbrains.kotlin.ui.annotation.warning.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.jetbrains.kotlin.ui.annotation.warning.textstyle"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="org.jetbrains.kotlin.ui.annotation.warning.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="org.jetbrains.kotlin.ui.marker"
            name="org.jetbrains.kotlin.ui.annotation.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerSeverity="2"
            markerType="org.jetbrains.kotlin.ui.marker"
            name="org.jetbrains.kotlin.ui.annotation.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.jetbrains.kotlin.core.launch.launchConfigurationType"
            icon="icons/kotlin-file.gif"
            id="org.jetbrains.kotlin.ui.launch.launchConfigurationTypeImageRun">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jetbrains.kotlin.ui.launch.LaunchConfigurationTabGroup"
            id="org.jetbrains.kotlin.ui.launch.launchConfigurationTabGroup"
            type="org.jetbrains.kotlin.core.launch.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.jetbrains.kotlin.ui.launch.KotlinLaunchShortcut"
            icon="icons/kotlin-file.gif"
            id="org.jetbrains.kotlin.ui.launch.launchShortcut"
            label="Kotlin Application"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <test
                           property="org.jetbrains.kotlin.ui.launching.canLaunchAsApplication">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.jetbrains.kotlin.ui.launch.junit.KotlinJUnitLaunchShortcut"
            icon="icons/julaunch.gif"
            id="org.jetbrains.kotlin.ui.launch.junit"
            label="Kotlin JUnit Test"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <test
                           property="org.jetbrains.kotlin.ui.launching.canLaunchAsJUnit">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.jetbrains.kotlin.ui.launch.CompilerStatusHandler"
            code="1"
            id="org.jetbrains.kotlin.ui.statusHandler"
            plugin="org.jetbrains.kotlin.core">
      </statusHandler>
   </extension>
   <extension
         id="org.jetbrains.kotlin.ui.kotlinBuilder"
         name="KotlinBuilder"
         point="org.eclipse.core.resources.builders">
      <builder callOnEmptyDelta="true">
         <run
               class="org.jetbrains.kotlin.ui.builder.KotlinBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/default-templates.xml"
            translations="templates/default-templates.xml">
      </include>
      <contextType
            class="org.jetbrains.kotlin.ui.editors.templates.KotlinTemplateContextType"
            id="kotlin-top-level-declarations"
            name="Kotlin Top Level Declarations"
            registryId="org.jetbrains.kotlin.ui.editors.KotlinEditor">
      </contextType>
      <contextTypeRegistry
            id="org.jetbrains.kotlin.ui.editors.KotlinEditor">
      </contextTypeRegistry>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jetbrains.kotlin.perspective.KotlinPerspectiveFactory"
            icon="icons/kotlin.png"
            id="org.jetbrains.kotlin.perspective"
            name="Kotlin">
         <description>
            Open Kotlin pespective
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="org.jetbrains.kotlin.ui.editors.kotlinCode"
            name="Kotlin Editor">
         <context
               type="org.jetbrains.kotlin.ui.editors.KotlinEditor">
         </context>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.jetbrains.kotlin.ui.editors.KotlinElementHyperlinkDetector"
            id="org.jetbrains.kotlin.ui.editors.KotlinElementHyperlinkDetector"
            name="KotlinElementHyperlinkDetector"
            targetId="org.jetbrains.kotlin.ui.editors.kotlinCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jetbrains.kotlin.ui.KotlinUiStartupClass">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jetbrains.kotlin.ui.launch.junit.KotlinJUnitLaunchableTester"
            id="org.jetbrains.kotlin.ui.junitLaunchableTester"
            namespace="org.jetbrains.kotlin.ui.launching"
            properties="canLaunchAsJUnit"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
            class="org.jetbrains.kotlin.ui.launch.KotlinLaunchableTester"
            id="org.jetbrains.kotlin.ui.launchableTester"
            namespace="org.jetbrains.kotlin.ui.launching"
            properties="canLaunchAsApplication"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
</plugin>
