<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jetbrains.kotlin.eclipse"
            name="Kotlin">
      </category>
      <wizard
            category="org.jetbrains.kotlin.eclipse"
            class="org.jetbrains.kotlin.wizard.NewUnitWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.jetbrains.kotlin.wizard"
            name="Kotlin File"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
           <description>
              Create a new Kotlin file
           </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.jetbrains.kotlin.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jetbrains.kotlin.preferences.KotlinPreferencePage"
            id="kotlin-eclipse-ui.preferences"
            name="Kotlin">
      </page>
      <page
            category="kotlin-eclipse-ui.preferences"
            class="org.jetbrains.kotlin.preferences.EditorPreferencePage"
            id="kotlin-eclipse-ui.preferences.editor"
            name="Editor">
      </page>
      <page
            category="kotlin-eclipse-ui.preferences"
            class="org.jetbrains.kotlin.preferences.CompilerPreferencePage"
            id="kotlin-eclipse-ui.preferences.compiler"
            name="Compiler">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jetbrains.kotlin.ui.editors.KotlinEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="kt"
            icon="icons/kotlin-file.gif"
            id="org.jetbrains.kotlin.ui.editors.KotlinEditor"
            name="Kotlin Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jetbrains.kotlin.psi.visualization.PsiVisualization"
            id="org.jetbrains.kotlin.psi.visualization"
            name="Psi Visualization">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.jetbrains.kotlin.ui.editors.KotlinEditor.EditorContext">
         <command
               commandId="org.jetbrains.kotlin.psi.visualization"
               label="View Psi Structure of current file"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
