.DS_Store
.gradle
.idea
.metadata
.recommenders
.gradletasknamecache

bin
build
common_testData
kotlin-eclipse-ui-test/lib
kotlin-eclipse-gradle-model/lib
target
.settings
.project
.classpath

*.iml
*.orig
/kotlin-bundled-compiler/lib
