.DS_Store
.gradle
.idea
.metadata
.recommenders
.gradletasknamecache

bin
build
common_testData
kotlin-eclipse-ui-test/lib
kotlin-eclipse-gradle-model/lib
target

*.iml
*.orig

target/
.settings
.classpath
.project
lib