<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="kotlinNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jetbrains.kotlin.model.KotlinNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jetbrains.kotlin.core.utils.KotlinFilesCollector">
      </startup>
   </extension>

</plugin>
