<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jetbrains.kotlin.core.predefinedKotlinCodeStyle" name="Predefined Kotlin Code Style" schema="schema/org.jetbrains.kotlin.core.predefinedKotlinCodeStyle.exsd"/>
   <extension-point id="org.jetbrains.kotlin.core.scriptTemplateContribution" name="Kotlin Script Teplate Contribution" schema="schema/org.jetbrains.kotlin.core.scriptTemplateContribution.exsd"/>
   <extension
         id="org.jetbrains.kotlin.core.kotlinNature"
         name="KotlinNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jetbrains.kotlin.core.model.KotlinNature">
         </run>
      </runtime>
   </extension>
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes extension="kt" type="text"/>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="org.jetbrains.kotlin.core.filesystem">
         <run
               class="org.jetbrains.kotlin.core.filesystem.KotlinFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="org.jetbrains.kotlin.script">
         <run
               class="org.jetbrains.kotlin.core.filesystem.KotlinScriptFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jetbrains.kotlin.core.KotlinClasspathContainerInitializer"
            id="org.jetbrains.kotlin.core.KOTLIN_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.jetbrains.kotlin.core.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="org.jetbrains.kotlin.core.kotlinNature">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="org.jetbrains.kotlin.core.KotlinClasspathProvider"
            id="org.jetbrains.kotlin.core.kotlinClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         point="org.jetbrains.kotlin.core.predefinedKotlinCodeStyle">
      <codeStyle
            class="org.jetbrains.kotlin.idea.formatter.KotlinObsoleteCodeStyle"
            nameInBuildsystem="obsolete">
      </codeStyle>
      <codeStyle
            class="org.jetbrains.kotlin.idea.formatter.KotlinStyleGuideCodeStyle"
            nameInBuildsystem="official">
      </codeStyle>
   </extension>
   <extension
         point="org.jetbrains.kotlin.core.scriptTemplateContribution">
      <template
            class="org.jetbrains.kotlin.core.script.template.ProjectScriptTemplateContribution">
      </template>
   </extension>
</plugin>
