<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jetbrains.kotlin.core.launch.KotlinLaunchDelegate"
            id="org.jetbrains.kotlin.core.launch.launchConfigurationType"
            modes="run"
            name="Kotlin Application">
      </launchConfigurationType>
   </extension>
   <extension
         id="org.jetbrains.kotlin.core.kotlinNature"
         name="KotlinNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jetbrains.kotlin.core.model.KotlinNature">
         </run>
      </runtime>
   </extension>
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes extension="kt" type="text"/>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="org.jetbrains.kotlin.core.filesystem">
         <run
               class="org.jetbrains.kotlin.core.filesystem.KotlinFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jetbrains.kotlin.core.KotlinClasspathContainerInitializer"
            id="org.jetbrains.kotlin.core.KOTLIN_CONTAINER">
      </classpathContainerInitializer>
   </extension>

</plugin>
