name: kotlin-eclipse

on:
  push:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn --batch-mode --nsu clean && mvn --batch-mode --update-snapshots clean validate -Pwith-gradle -pl kotlin-bundled-compiler && mvn --batch-mode --update-snapshots package

      - name: Publish eclipse repository
        uses: actions/upload-artifact@v3
        with:
          name: kotlin-eclipse-plugin
          path: kotlin-eclipse-p2updatesite/target/kotlin-eclipse-plugin.zip